[Desktop Entry]
Type=Application
Name=Caprine
GenericName=IM Client
Comment=Unofficial Facebook Messenger app
Icon=com.sindresorhus.Caprine
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=caprine --file-forwarding com.sindresorhus.Caprine @@u %U @@
StartupWMClass=caprine
Terminal=false
Categories=GTK;InstantMessaging;Network;
StartupNotify=false
X-Flatpak=com.sindresorhus.Caprine
X-GNOME-Autostart-enabled=false
