[Desktop Entry]
Type=Application
Version=1.4
Name=Projects GDrive
Comment=
Keywords=;
Categories=GTK;;
Icon=FFPWA-01K9VXM1XNH05FYVKZ47Q43PTJ
Exec=/usr/bin/firefoxpwa site launch 01K9VXM1XNH05FYVKZ47Q43PTJ --protocol %u
Exec=sh -c "/usr/bin/firefoxpwa site launch 01K9VXM1XNH05FYVKZ47Q43PTJ --protocol %u & ; sleep 0.1 ; /usr/bin/firefoxpwa site launch 01K9VXM1XNH05FYVKZ47Q43PTJ --protocol %u & ; sleep 0.1; /usr/bin/firefoxpwa site launch 01K9VXM1XNH05FYVKZ47Q43PTJ --protocol %u & wait"
Actions=
MimeType=
Terminal=false
StartupNotify=true
StartupWMClass=FFPWA-01K9VXM1XNH05FYVKZ47Q43PTJ
X-GNOME-Autostart-Delay=4
