[Desktop Entry]
Type=Application
Version=1.4
Name=Messages
Comment=
Keywords=;
Categories=GTK;Chat;Network;
Icon=FFPWA-01K9Q465CXSRDW5E7JT05YB6F6
Exec=/usr/bin/firefoxpwa site launch 01K9Q465CXSRDW5E7JT05YB6F6 --protocol %u
Actions=
MimeType=
Terminal=false
StartupNotify=true
StartupWMClass=FFPWA-01K9Q465CXSRDW5E7JT05YB6F6
X-GNOME-Autostart-Delay=6
