[Desktop Entry]
Type=Application
Exec=/home/jr/.my_scripts/hide_universal_acces.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Hide universal access
Name=Hide universal access
Comment[en_US]=Hide universal access GNOME extension restart
Comment=Hide universal access GNOME extension restart
