[Desktop Entry]
Type=Application
Version=1.0
Name=pcloud
Comment=pcloudstartup script
Exec=/home/jr/localSW/pcloud
StartupNotify=false
Terminal=false
X-GNOME-Autostart-Delay=10
